@import '../scss/variable.scss';
@import '../fonts/font-face.css';
@import './responsive.css';
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.width-100{
    width: 100%;
}
.vazir-light{
    font-family: vazir_light;
}
.background-lemon{
    background-color: #e6edfc;
}

input::placeholder{
    font-family: 'vazir_light' !important;
}