@import '../scss/variable.scss';
@import '../fonts/font-face.css';
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.width-100{
    width: 100%;
}
input::placeholder{
    font-family: 'vazir_light' !important;
}